version: '3.9'

services:
  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: food_ordering_app
    ports:
      - '5432:5432'
    volumes:
      - pg_data:/var/lib/postgresql/data

  api:
    build: .
    container_name: nest_api
    ports:
      - '8080:8080'
    env_file:
      - .env
    depends_on:
      - db
    command: sh -c "npx prisma migrate deploy && npm run start:dev"
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules

volumes:
  pg_data:
